<div class="add-form" ng-controller="AddFoodCtrl">
  <input class="food-name" type="text" placeholder="Name" ng-model="food.name" autofocus/>
  <div class="expiration">
    Expires in
    <div ng-class="{'expire-3': daysToExpiry <= 1,
                   'expire-2': daysToExpiry > 1 && daysToExpiry < 3,
                   'expire-1': daysToExpiry >= 3}">
      <input class="expiration-time" type="tel" name="" value="" step="1" ng-model="daysToExpiry"/>
    </div>
    days
  </div>
  <div class="form-left">
    <div class="cancel-button half" ng-click="cancel()">Cancel</div>
  </div>
  <div class="form-right">
    <div class="save-button half" ng-click="save()">Save</div>
  </div>
</div>
