<div class="content float-left" ng-controller="FoodListCtrl">
  <div ng-class="{'card': true, 'show-back': selectedItem == food.id, 'show-front': selectedItem != food.id}"
       ng-repeat="food in foods | orderByPriority | orderBy : getDaysToExpiry"
       ng-click="itemClicked(food)">
    <div class="card-front">
      <div class="left one-third status">
        <h1 ng-class="{'expire-3': getDaysToExpiry(food) < 1,
                       'expire-2': getDaysToExpiry(food) < 3,
                       'expire-1': getDaysToExpiry(food) >= 3}">{{getDaysToExpiry(food)}}</h1>
        Days Left
      </div>
      <div class="right two-thirds description">
        <h1>{{food.name}}</h1>
        <p>Expires {{getExpirationDate(food)}}</p>
        <p>Added {{getAge(food)}} days ago</p>
      </div>
    </div>
    <div class="card-back">
      <div class="left one-third">
        <div class="cancel">Cancel</div>
      </div>
      <div class="right two-thirds">
        <div class="remove" ng-click="itemRemoved(food)">
          <div class="remove-button">
            Remove Item
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#/add">
    <div class="primary-action">
      <div class="create">
      </div>
    </div>
  </a>
</div>
</div>
