<div class="" ng-controller="FoodListCtrl">
  <div class="" ng-controller="AuthCtrl">
    <input class="logout-button" type="button" name="" value="Log Out" ng-click="logOut()"/>
  </div>
  
  <div ng-class="{'card': true, 'show-back': selectedItem == food.id, 'show-front': selectedItem != food.id}"
       ng-repeat="food in foods | orderBy : getDaysToExpiry"
       ng-click="itemClicked(food)">
    <div ng-class="{'card-front': true,
                   'frozen': getIsFrozen(food)}">
      <div class="left one-third status">
        <h1 ng-class="{'expire-3': getDaysToExpiry(food) <= 1,
                      'expire-2': getDaysToExpiry(food) > 1 && getDaysToExpiry(food) < 3,
                      'expire-1': getDaysToExpiry(food) >= 3}">{{getDaysToExpiry(food)}}</h1>
        Days Left
      </div>
      <div class="right two-thirds description">
        <h1>{{food.name}}</h1>
        <p>Expires {{getExpirationDate(food)}}</p>
        <p>Added {{getAge(food)}} days ago</p>
        <p ng-if="getIsFrozen(food)">
          <img src="/img/snowflake.png" alt="Frozen" class="small-icon" />
          FROZEN
          <img src="/img/snowflake.png" alt="Frozen" class="small-icon" />
        </p>
      </div>
    </div>
    <div class="card-back">
      <div class="left one-third">
        <div class="cancel">Cancel</div>
      </div>
      <div class="right two-thirds">
        <div class="left half-width">
          <div class="card-button half-height top" ng-click="itemFrozen(food)" ng-if="!getIsFrozen(food)">
            <img src="/img/snowflake.png" alt="Freeze" />
            Freeze
          </div>
          <div class="card-button half-height top" ng-click="itemThawed(food)" ng-if="getIsFrozen(food)">
            <img src="/img/fire.png" alt="Freeze" />
            Thaw
          </div>
          <div class="card-button half-height bottom" ng-click="showNotes(food)">
            <img src="/img/notes.png" alt="Notes" />
            Notes
          </div>
        </div>
        <div class="right half-width">
          <div class="top card-button half-height" ng-click="itemConsumed(food)">
            <img src="/img/cutlery.png" alt="Eat" />
            Eat
          </div>
          <div class="bottom card-button half-height"  ng-click="itemRemoved(food)">
            <img src="/img/trash.png" alt="Trash" />
            Trash
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#/add">
    <div class="primary-action">
      <div class="create">
        New
      </div>
    </div>
  </a>
</div>
