html {
    background: #EDEDED;
}

md-card {
    border-radius: 4px;
}

md-card:focus {
    outline: none;
    border: 0;
}

md-grid-tile:focus {
    outline: none;
    border: 0;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.icon-margin {
    margin: 5px;
}

.md-button.md-fab.md-fab-bottom-right.fixed {
    position: fixed;
}

.food-name {
    width: 90%;
    font-size: 3em;
    text-align: center;
    margin-top: 10px;
}

.expiration-date {
    font-size: 1.5em;
}

.help-text {
    text-align: center;
    margin: 20px;
}

.highlight {
    color: rgba(128, 195, 93, 1);
}

.status {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
}

.expire-time {
    font-size: 3em;
    margin: 5px;
    font-weight: 300;
}

.expire-1 {
    background-color: rgba(25, 140, 0, 1);
}

.expire-2 {
    background-color: rgba(247, 169, 0, 1);
}

.expire-3 {
/* background-color: rgba(211, 29, 29, 1); */
    background-color: #E20038;
}

.small-icon {
    height: 15px;
    width: 15px;
}

.frozen {
    background-color: #76C1FF;
}

.expiration {
    font-size: 3em;
    margin-top: 10px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
}

.login {
    text-align: center;
}

.login-button {
    font-size: 2em;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -100px;
    border-radius: 10px;
    padding: 10px;
}
